// Place all the styles related to the attractions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.bodynav {
    overflow: hidden;
    background-color: goldenrod;
  }

  .bodynav a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  .bodynav a:hover {
    background-color: red;
    color: black;
  }

  

